* {
    margin: 0;
    padding: 0;
}
body {
    /*background-color: #f5f5f5;*/
    color: #444;
}
@media screen and (max-width: 380px){
    body {
        font-size: 1.2rem;
    }
}
.home-page {
    max-width: 812px;
    margin: 0 auto;
    padding: 0 48px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    /*background-color: white;*/
    /*box-shadow: 0 0 14px 0 rgba(100, 100, 100, 0.3);*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
@media screen and (max-width: 380px){
    .home-page {
        padding: 0 24px;
    }
}
/* header */
@media screen and (max-width: 380px){
    .home-page header .home-head {
        text-align: center;
    }
}
.home-page header {
    padding: 24px 0;
}
.home-head h1.head-title a {
    line-height: 48px;
    text-decoration: none;
}
.home-head h1.head-title a, .home-head h2 {
    color: #444;
}
.home-head .head-title a:hover, .home-head .head-title a:focus {
    color: #21759b;
}
.home-head h2 {
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
}
.home-nav ul {
    height: 44px;
    margin: 25px 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
.home-nav ul li {
    display: inline-block;
    margin-right: 40px;
    height: 44px;
}
.home-nav ul li a {
    display: block;
    color: #6a6a6a;
    text-decoration: none;
    height: 100%;
    line-height: 44px;
}
.home-nav ul li a.current {
    font-weight: bolder;
    pointer-events: none;
}
.home-nav ul li a:hover, .home-nav ul li a:focus {
    color: #444;
}

/* main */
main {
    margin-bottom: 72px;
    flex: 1;
}

/* footer */
.home-footer {
    border-top: 1px solid #ededed;
    padding: 24px 0;
    text-align: center;
}
.home-footer, .home-footer a {
    font-size: 0.85rem;
    color: #686868;
}
.home-footer a:hover, .home-footer a:focus {
    color: #21759b;
}
