header.post-head {
	margin-bottom: 24px;
	padding: 0;
}
header.post-head .post-title {
	font-weight: normal;
	margin-bottom: 24px;
	display: inline;
}
header.post-head small {
	display: inline;
	font-style: italic;
	margin-left: 20px;
}
@media screen and (max-width: 380px){
	header.post-head small {
		display: block;
		margin: 1rem 0 1.5rem;
	}
}
.post-content h3, .post-content h4, .post-content h5, .post-content p {
	margin: 10px 0;
}